*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  --clr-light: #f6f6f6;
  --clr-dark: #1e1e1e;
  --clr-semidark: hsl(0, 0%, 30%);
  --clr-blue: hsl(235, 84%, 59%);
  --clr-blue-muted: hsl(235, 76%, 63%);
  --pd-side: 30px;
}

body {
  background: var(--clr-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}

/* text etc */

h1 {
  font-size: clamp(1.5rem, 6.1vw, 3rem);
  font-family: 'Passion One';
  padding-bottom: 1.5rem;
  width: 60%;
  line-height: 0.85;
  transform: scale(1.5, 1);
  margin-left: 15%;
}

h2 {
  padding-bottom: 1.5rem;
  font-size: clamp(1rem, 4.5vw, 2.25rem);
  line-height: 1.25;
  font-family: 'Heebo';
}

h3 {
  font-size: 2.2rem;
  padding-bottom: 1.75rem;
  padding-top: 1.5rem;
}

h4 {
  color: var(--clr-blue-muted);
  font-weight: 900;
  font-family: 'Passion One';
  transform: scale(1.5, 1);
  margin-left: 13.7%;
  line-height: 0.9;
  font-size: 2.25rem;
  padding-bottom: 1rem;
  max-width: 50vw;
}

p {
  line-height: 1.5;
  color: var(--clr-semidark);
  font-weight: 300;
}

.footer p {
  color: var(--clr-light);
}

.container-start p {
  color: var(--clr-light);
}

/* navbar  */

.navbar {
  width: 100%;
  padding-inline: var(--pd-side);
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 80px;
}

.nav-list {
  display: none;
  flex-direction: row;
  list-style: none;
  margin-inline: auto;
  padding-left: 5rem;
  gap: 2.5rem;
  font-size: 0.95rem;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-content {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.menu-toggle {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.hamburger {
  fill: white;
}

/* main page */

section {
  width: 100%;
  padding-top: 2.5rem;
}

.container,
.container-end,
.container-start {
  padding-inline: var(--pd-side);
  overflow: hidden;
}

.header-paragraph {
  position: relative;
  z-index: 2;
}

.container-end header,
.container-end p {
  max-width: 1000px;
  margin-inline: auto;
}

.container-end h2 {
  padding-top: 3rem;
  font-family: 'Poller One';
  font-size: clamp(1rem, 4.5vw, 2.25rem);
  line-height: 0.9;
}

.container-btns {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1.5rem;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.section-first {
  background-color: var(--clr-blue);
  color: var(--clr-light);
}

.section-end {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  background-image: url('./assets/sparkles.svg');
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: contain;
}

/* footer */

.footer {
  width: 100%;
  margin-top: auto;
  padding-inline: var(--pd-side);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.footer-links {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
}

h5 {
  margin: 0;
  color: hsl(230, 73%, 57%);
  font-size: 1rem;
}

.footer-links-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-bottom {
  display: flex;
  width: 100%;
  border-top: solid 1px var(--clr-blue-muted);
  align-items: center;
  margin-top: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 3.5rem;
}

/* btns, links */

button {
  font-family: 'Roboto';
  cursor: pointer;
  border-radius: 9999px;
  border: none;
  padding: 0.75rem 1rem;
  transition: all 200ms ease-in-out;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  box-shadow: 0 0.5em 1em hsla(0, 0%, 25%, 0.4);
}

.btn {
  font-size: 1.25rem;
  padding: 1rem 2rem;
}

.btn-wide {
  width: 100%;
}

button:hover.bg-light {
  color: var(--clr-blue-muted);
}

button:hover.bg-dark {
  background-color: hsl(0, 0%, 20%);
}

button:hover.bg-secondary {
  background-color: hsl(235, 76%, 70%);
}

.btn-footer {
  margin-left: auto;
}

.footer-links span,
.footer-links h5 {
  font-size: 0.95rem;
}

.footer-links span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.lang-select img {
  height: 20px;
}
.lang-select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  font-size: 0.85rem;
}

/* imgs */

.logo {
  max-height: 32px;
}

.img-container {
  width: 100%;
  position: relative;
  bottom: 10%;
}

.img {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1rem;
}

.img-1 {
  position: relative;
  width: clamp(60vw, 90vw, 600px);
  transform: translateY(2%);
  left: -15%;
}

.img-2,
.img-3 {
  display: none;
}

.social {
  min-width: 200px;
}

span img {
  max-height: 22px;
  color: white;
  margin-top: 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.download-icon {
  fill: currentColor;
  height: 20px;
  margin-right: 0.5rem;
  margin-top: auto;
  transform: translateY(-2px);
}

/* 1st breakpoint at screens 768px+ wide */

@media (min-width: 768px) {
  h1 {
    margin-top: 2.2rem;
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  .img-1 {
    display: none;
  }

  .img-container {
    min-height: 220px;
  }

  .img-2 {
    display: block;
    position: absolute;
    right: -95%;
    bottom: 0%;
    object-fit: cover;
  }

  .img-3 {
    display: block;
    position: absolute;
    right: -20%;
    bottom: 0%;
  }

  .container-btns {
    flex-direction: column;
    width: fit-content;
    padding-bottom: 0;
  }

  .container-btns button {
    width: fit-content;
  }

  .header-paragraph {
    max-width: 55%;
    text-align: start;
  }

  .container-end h2,
  .container-end p {
    text-align: center;
  }

  .container {
    display: flex;
    align-items: center;
    padding-block: 1.5rem;
    gap: 1.5rem;
    width: 95%;
    margin: 0 auto;
  }

  .section-end {
    width: 520px;
    margin: 3rem auto 3.5rem;
  }
  .btn-wide {
    max-width: fit-content;
    display: inline-flex;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    margin: 1.25rem 5rem 0;
    column-gap: 6rem;
  }

  h4 {
    max-width: 15rem;
    margin-left: 18%;
  }
}

/* 2nd breakpoint at screens 1024px+ wide */

@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .container-start {
    position: relative;
    min-height: 500px;
    padding-top: 3rem;
  }

  h1 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    position: relative;
    z-index: 2;
  }

  .header-paragraph {
    text-align: center;
    max-width: 730px;
    margin: 1rem auto 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .container-btns {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 9rem;
    margin: 1rem auto 0;
    width: 45%;
  }

  .img-container {
    min-height: 500px;
    position: absolute;
    background-image: url('./assets/headerbg2.svg');
    background-size: 2700px auto;
    background-repeat: no-repeat;
    background-position: 52% 100%;
    bottom: 0%;
    left: 0;
  }

  .img-1 {
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: initial;
    right: 73%;
    width: initial;
    transform: none;
  }

  .img-2 {
    display: none;
  }

  .img-3 {
    left: 73%;
  }

  .container-end .img {
    max-height: 730px;
  }

  .footer-main {
    flex: 1;
  }

  .footer-links {
    grid-template-columns: repeat(4, 1fr);
    flex: 2;
  }

  .img-container-section {
    flex: 7;
  }

  .text-container {
    flex: 4;
  }

  .container,
  .container-end {
    justify-content: center;
    max-width: 100%;
    gap: 8rem;
  }
}

/* final breakpoint, just changes padding */
@media (min-width: 1280px) {
  .footer {
    align-items: center;
  }
  .footer-container,
  .footer-bottom {
    max-width: 1130px;
  }
  .container {
    max-width: 1260px;
  }
  .navbar-container {
    max-width: 1130px;
    margin: 0 auto;
  }
}

/* utility classes */

.bg-primary {
  background-color: var(--clr-blue);
  color: var(--clr-light);
}

.bg-secondary {
  background-color: var(--clr-blue-muted);
  color: var(--clr-light);
}

.bg-dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.bg-light {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.bg-white {
  background-color: #fff;
  color: var(--clr-dark);
}

.pd-section {
  padding-bottom: 3.75rem;
}
